on:
  issues: 
    types: [labeled, unlabeled]
  workflow_dispatch:
    inputs:
      issue:
        description: 'Issue number to work with'
        required: true
        default: '11'
    
env: 
  fork-owner: rajbos-actions-test # where to place the forks
    
jobs:
  find-action-name:
    runs-on: ubuntu-latest
    #if: github.event.label.name == 'security-check'

    outputs:
      action: ${{ steps.get-action.outputs.action }}
      owner: ${{ steps.get-action.outputs.owner }}
      name: ${{ steps.get-action.outputs.name }}
      request_owner: ${{ steps.get-action.outputs.request_owner }}
      request_repo: ${{ steps.get-action.outputs.request_repo }}
      request_issue: ${{ steps.get-action.outputs.request_issue }}

    steps:
    - uses: actions/checkout@v2
    - id: dispatch_issue_find
      name: Find action from issue
      run: |
         echo "Testing for dispatch event with issue number: ${{ github.event.inputs.issue }}"
         issue_number=${{ github.event.inputs.issue }}
         if [ "${{ github.event.inputs.issue }}" == "" ]; then
           echo "issue number not found in workflow dispatch event"
           echo 'Found the issue that triggered this event with number [${{ github.event.issue.number }}]'
           echo 'Found the issue title [${{ github.event.issue.title }}]'
         else
           echo "issue number found: [$issue_number]"
           # output a fixed variable
           echo "::set-output name=issue_number::${issue_number}"
         fi

    - uses: actions/github-script@v5
      name: Find action from comment
      id: get-action
      with:
        result-encoding: string
        script: |
          const script = require('./src/find-action-from-comment.js')
                  
          // note: owner is now the organization the FORK lives in:
          const owner = context.repo.owner
          const repo = context.repo.repo
          let issue_number = context.issue.number         
          
          if (issue_number == null) {
            // try to load issue number from other step:
            console.log(`issue number not found in context, searching for it in workflow dispatch step`)
            console.log(`issue number: [${{ steps.dispatch_issue_find.outputs.issue_number }}]`)
            issue_number = `${{ steps.dispatch_issue_find.outputs.issue_number }}`
          }

          console.log(await script({github, owner, repo, issue_number, core}))

  # fork the repo so we can run dependabot security scan and a CodeQL scan on the fork        
  fork-action-test:
    runs-on: ubuntu-latest
    needs: find-action-name
    steps:
    - uses: actions/checkout@v2

    - name: Fork the action repository to rajbos-actions-test
      uses: rajbos-actions/forker@v0.0.1
      with:
        token: ${{ secrets.GH_TOKEN }}
        repo: ${{ needs.find-action-name.outputs.name }}
        owner: ${{ needs.find-action-name.outputs.owner }}
        org: ${{ env.fork-owner }}
        # todo: add a new comment to the issue indication the action of forking the repo over to the other org?

  # since dependabot alerts and dependency graph is enabled on the organization level, but that will not be enabled on new forks
  # we need to enable the features on the new forked repo
  enable-dependabot:
    # enable dependabot settings on the forked repo
    runs-on: ubuntu-latest
    needs:
      - fork-action-test
      - find-action-name
    steps:
      - uses: actions/github-script@v5       
        with: 
          github-token: ${{ secrets.GH_TOKEN }}
          script: |
            
            // note: owner is now the organization the FORK lives in:
            const owner = "${{ env.fork-owner }}"
            const repo = "${{ needs.find-action-name.outputs.name }}"

            // enable dependabot security updates for the repo
            await github.request('PUT /repos/{owner}/{repo}/vulnerability-alerts', {
              owner,
              repo
            })

            console.log(`Enabled dependabot on the forked repo ${owner}/${repo}. We don't know when those checks are completed. Use another label to trigger the 'dependabot-alerts' workflow`)
  
  # check if the original repo had:
  # 1) a dependabot configuration file
  # 2) a CodeQL workflow
  # 3) run a scan on the used container, if any is used
  check-action-security-setup:
    runs-on: ubuntu-latest
    needs: find-action-name
    steps:
    - name: Check-out referenced Action
      run: |
        git clone https://github.com/${{ needs.find-action-name.outputs.action }} action

    - name: Check Dependabot configuration
      id: has-dependabot-configuration
      run: |
        echo "Looking for 'dependabot.yml' in '.github' folder of the action"
        cd action
        ls -la
        cd .
        if [ -d "action/.github" ] && [ -n (find .github -maxdepth 1 -name dependabot.yml) ] ; then
          jq -nc '{"body": "✅ Dependabot configuration found"}' | \
          curl -sL  -X POST -d @- \
            -H "Content-Type: application/json" \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ needs.find-action-name.outputs.request_owner }}/${{ needs.find-action-name.outputs.request_repo }}/issues/${{ needs.find-action-name.outputs.request_issue }}/comments"
        else
          jq -nc '{"body": "⛔️ No Dependabot configuration found"}' | \
          curl -sL  -X POST -d @- \
            -H "Content-Type: application/json" \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ needs.find-action-name.outputs.request_owner }}/${{ needs.find-action-name.outputs.request_repo }}/issues/${{ needs.find-action-name.outputs.request_issue }}/comments"
        fi

    - name: Check CodeQL step in Workflow
      id: has-codeql-in-workflow
      run: |
        echo "Looking for CodeQL action in any Workflow of the action"
        if [ ! -d "action/.github/workflows" ]; then
          jq -nc '{"body": "⛔️ No workflows found"}' | \
            curl -sL  -X POST -d @- \
              -H "Content-Type: application/json" \
              -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              "https://api.github.com/repos/${{ needs.find-action-name.outputs.request_owner }}/${{ needs.find-action-name.outputs.request_repo }}/issues/${{ needs.find-action-name.outputs.request_issue }}/comments"
        else
          if [ `grep action/.github/workflows/*.yml -e 'uses: github/codeql-action/init' | wc -l` -gt 0 ]; then
            WORKFLOW=`grep action/.github/workflows/*.yml -e 'uses: github/codeql-action/init' -H | cut -f1 -d' ' | sed "s/:$//g"`
            jq -nc "{\"body\": \"✅ CodeQL Init step found in $WORKFLOW\"}" | \
            curl -sL  -X POST -d @- \
              -H "Content-Type: application/json" \
              -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              "https://api.github.com/repos/${{ needs.find-action-name.outputs.request_owner }}/${{ needs.find-action-name.outputs.request_repo }}/issues/${{ needs.find-action-name.outputs.request_issue }}/comments"
          else
            jq -nc '{"body": "⛔️ No CodeQL Init step found"}' | \
            curl -sL  -X POST -d @- \
              -H "Content-Type: application/json" \
              -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              "https://api.github.com/repos/${{ needs.find-action-name.outputs.request_owner }}/${{ needs.find-action-name.outputs.request_repo }}/issues/${{ needs.find-action-name.outputs.request_issue }}/comments"
          fi

          if [ `grep action/.github/workflows/*.yml -e 'uses: github/codeql-action/analyze' | wc -l` -gt 0 ]; then
            WORKFLOW=`grep action/.github/workflows/*.yml -e 'uses: github/codeql-action/analyze' -H | cut -f1 -d' ' | sed "s/:$//g"`
            jq -nc "{\"body\": \"✅ CodeQL Analyze step found in $WORKFLOW\"}" | \
            curl -sL  -X POST -d @- \
              -H "Content-Type: application/json" \
              -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              "https://api.github.com/repos/${{ needs.find-action-name.outputs.request_owner }}/${{ needs.find-action-name.outputs.request_repo }}/issues/${{ needs.find-action-name.outputs.request_issue }}/comments"
          else
            jq -nc '{"body": "⛔️ No CodeQL Analyze step found"}' | \
            curl -sL  -X POST -d @- \
              -H "Content-Type: application/json" \
              -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              "https://api.github.com/repos/${{ needs.find-action-name.outputs.request_owner }}/${{ needs.find-action-name.outputs.request_repo }}/issues/${{ needs.find-action-name.outputs.request_issue }}/comments"
          fi
        fi
    
    - name: Scan docker container when present
      id: scan-docker-container-when-present
      run: |
        #!/bin/bash

        set -ueo pipefail

        if [ "docker" != `yq e '.runs.using' action/action.yml` ] ; then
          jq -nc '{"body": "Action is not using a Docker image"}' | \
          curl -sL  -X POST -d @- \
            -H "Content-Type: application/json" \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ needs.find-action-name.outputs.request_owner }}/${{ needs.find-action-name.outputs.request_repo }}/issues/${{ needs.find-action-name.outputs.request_issue }}/comments"
                    
          exit 0
        fi

        echo "Installing trivy"
        sudo apt-get install wget apt-transport-https gnupg lsb-release
        wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
        echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
        sudo apt-get update
        sudo apt-get install trivy

        if [ "Dockerfile" == `yq e '.runs.image' action/action.yml` ]; then
          echo "Scan docker image with trivy"
          docker build -t action-checkout/${{ needs.find-action-name.outputs.action }} action/
          trivy --quiet image action-checkout/${{ needs.find-action-name.outputs.action }} > issues
          docker image rm action-checkout/${{ needs.find-action-name.outputs.action }}
        else
          echo "Scan docker image with trivy"
          trivy --quiet image $IMAGE > issues
        fi

        # Check if LOW or MEDIUM issues are found
        if [ `cat issues | grep -e LOW -e MEDIUM | wc -l` -gt 1 ] ; then
          jq -nc '{"body": "⚠️ Docker image scanning found LOW or MEDIUM issues. Please check the logs."}' | \
            curl -sL  -X POST -d @- \
              -H "Content-Type: application/json" \
              -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              "https://api.github.com/repos/${{ needs.find-action-name.outputs.request_owner }}/${{ needs.find-action-name.outputs.request_repo }}/issues/${{ needs.find-action-name.outputs.request_issue }}/comments"
        fi

        # Check if HIGH or CRITICAL issues are found
        if [ `cat issues | grep -e HIGH -e CRITICAL | wc -l` -gt 1 ] ; then
          jq -nc '{"body": "⛔ Docker image scanning found HIGH or CRITICAL issues. Please check the logs."}' | \
            curl -sL  -X POST -d @- \
              -H "Content-Type: application/json" \
              -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              "https://api.github.com/repos/${{ needs.find-action-name.outputs.request_owner }}/${{ needs.find-action-name.outputs.request_repo }}/issues/${{ needs.find-action-name.outputs.request_issue }}/comments"
            
            exit 17
        fi

  # add a CodeQL scan on the forked repo
  codeql:
    runs-on: ubuntu-latest
    needs: 
      - fork-action-test
      - find-action-name
    outputs:
      codeql: ${{ steps.get-codeql-results.outputs.codeql }}
    steps:
    # todo: what if the action.yml indicates it runs in a docker image? Then we have not neccesarily a way to run CodeQL on actual CODE
    - uses: actions/checkout@v2
    - uses: actions/github-script@v5
      name: Inject CodeQL workflow into new forked repository
      # todo: clear all other workflows first, to prevent them from running
      id: CodeQL-inject      
      with:      
        github-token: ${{ secrets.GH_TOKEN }}  
        script: |
           const script = require('./src/inject-codeql.js')
           
           const owner = "${{ env.fork-owner }}"
           const repo = "${{ needs.find-action-name.outputs.name }}"

           console.log(`Using this repository: [${owner}/${repo}]`)
           const { ref, targetPath } = await script({github, owner, repo})
    
           console.log(`Waiting for CodeQL workflow to complete`)
           
           // actually wait for the workflow, by dispatching and loading the run id and wait for it to complete
           const startAndWaitScript = require('./src/start-and-wait-codeql.js')
              
           console.log(`Using this repository: [${owner}/${repo}] with path [${targetPath}] and ref [${ref}]`)
           const success = await startAndWaitScript({github, owner, repo, path: targetPath, ref})
           if (success === 0) {
             console.log(`CodeQL workflow completed successfully`)
           } 
           else {
             // todo: output information so it can be read by the user (issue comment)
             console.log(`CodeQL workflow failed with exit code ${success}`)
           }

    - uses: actions/github-script@v5
      name: Get resuls from CodeQL scan
      id: get-codeql-results
      with:
        github-token: ${{ secrets.GH_TOKEN }}
        script: |
           const script = require('./src/get-codeql-results.js')
                  
           // note: owner is now the organization the FORK lives in:
           const owner = "${{ env.fork-owner }}"
           const repo = "${{ needs.find-action-name.outputs.name }}"

           const result = await script({github, owner, repo})
           console.log(`CodeQL scan completed with result: ${JSON.stringify(result)}`)
           const output = JSON.stringify(result)
           console.log(`::set-output name=codeql::'${output}'`)

  display-results:
    needs: 
      - codeql
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello world"
      - uses: actions/github-script@v5
        name: Display results
        id: display-results
        with:
          github-token: ${{ secrets.GH_TOKEN }}
          script: |            
            const codeql = `${{ needs.codeql.outputs.codeql }}`
            console.log(`CodeQL scan substring: [${codeql.substring(1, codeql.length - 1)}]`)  

            const codeqlResult = JSON.parse(codeql.substring(1, codeql.length - 1))
            console.log(`CodeQL scan results:`)
            console.log(`- url: ${codeqlResult.url}`)
            console.log(`- results.count: [${codeqlResult.results_count}]`)
            console.log(`- environment: [${codeqlResult.environment}]`)
            console.log(`- created_at: [${codeqlResult.created_at}]`)

            const owner = "${{ needs.find-action-name.outputs.owner }}"
            const repo = "${{ needs.find-action-name.outputs.name }}"
            const issue = "${{ needs.find-action-name.outputs.request_issue }}"
            const script = require('./src/combine-results.js')
            await script({github, owner, repo, issue, codeqlResult})
